Source: orangefs
Maintainer: Mike Marshall <hubcap@omnibond.com>
Section: misc
Priority: optional
Standards-Version: 4.7.0
Build-Depends: debhelper-compat (= 13), automake, bison, flex, libacl1-dev, libssl-dev, libaio-dev, libldap-dev
	

Package: orangefs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: distributed userspace filesystem server, clients and library.
 OrangeFS provides scalable, parallel storage for clusters and supercomputers,
 optimized for large-scale data access and resilience. Includes an
 interposition library (liborangefs.so) for redirecting libc calls to OrangeFS.

