Source: orangefs
Maintainer: Mike Marshall <hubcap@omnibond.com>
Section: misc
Priority: optional
Standards-Version: 4.7.0
Build-Depends: debhelper-compat (= 13), automake, bison, flex, libacl1-dev, libssl-dev, libaio-dev, libldap-dev
	

Package: pvfs2-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: distributed userspace filesystem server
 runs on every node that is part of an orangefs volume.

Package: pvfs2-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}, csh
Description: userspace clients and library.
 orangefs library, api and tools.

Package: pvfs2-man
Architecture: any
Depends: ${misc:Depends}
Description: man pages
  man pages and formatted tex documents.

