#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_build:
	$(MAKE) dist

override_dh_autoreconf:
	./prepare

override_dh_auto_configure:
	dh_auto_configure -- \
		--with-db-backend=lmdb \
		--enable-shared
